@import "../../../styles/settings.scss";

.root {
  background-color: $header-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 1rem;
      line-height: 2.5rem;
      color: $company-claim-text;
      font-weight: $font-weight-normal-bold;

      .icon {
        font-size: 2rem;
        color: $primary;
        vertical-align: middle;
        margin-top: -$space-unit * 0.5;
        margin-right: $space-unit * 3;
      }
    }
  }
  .positionRelative{
    position: relative;
  }

  .cart {
    .cartBox {
      display: inline-block;
      position: relative;
      color: $color-white;

      .cartIcon {
        background-color: $primary;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;

        .icon {
          margin-right: $space-unit;
        }
      }

      .cartCounter {
        width: 28px;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        min-width: max-content;
        padding: 4px;
        background-color: $header-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.875rem;
        color: $company-claim-cart-color;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
      }

      &:hover {
        .cartIcon {
          @include base-hover-animation;
          background-color: lighten($primary, 10%);
        }
      }
    }
  }
  @media all and (max-width: 768px) {

    .phoneNumber {
      display: none;

      p {
        font-size: 0.875rem;
      }
    }
  }
}
