@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&display=swap');
@import "../../../styles/settings.scss";

.root {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: $section-padding;
  text-align: center;

  .panelBar {
    position: relative;

    .dotsLayout {
      position: absolute;
      transform: translateY(-50%);
      background-color: $color-white;
      padding-left: $space-unit * 3;
      top: 100%;
      right: 0;
    };
  };

  .feedbackBox {
    padding: 0 $space-unit * 12 $space-unit * 6;

    .decoration {
      font-size: $feedback-decoration-font;
      margin: 0;
      line-height: $feedback-decoration-font;
      font-family: 'BIZ UDGothic', sans-serif;
    };

    .desc {
      margin: -3 * $space-unit 0 0 0;
      font-size: 14px;
      color: $text-color;
    };

    .image {
      width: 60px;
      aspect-ratio: 1 / 1;
    };

    .personDesc {
      padding-left: $space-unit * 2;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin: 0;

        &:first-of-type {
          font-weight: $font-weight-bolder;
        };

        &:last-of-type {
          font-weight: $font-weight-light;
        };
      };
    };
  };

  .faded {
    animation: $change-page;
  };
};
