@import "../../../styles/settings.scss";

.root {
  padding-top: $base-padding;


  .fade {
    animation: $change-page;
  }

  .featuredProductBox {
    margin-bottom: $space-unit * -6;

    .heading {
      background-color: $text-color;
      padding: $space-unit * 3;
      display: flex;
      justify-content: space-between;

      h5 {
        margin: 0;
        color: $color-white;
        text-transform: uppercase;
      }
    }
  }

  .carouselLayout {
    display: flex;
    flex-direction: column;
    position: relative;

    & .image {
      width: 100%;
      height: 100%;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .promoBanner {
      text-transform: uppercase;
      position: absolute;
      color: $color-white;
      width: calc(100% - 15px * 2);
      background-color: $color-dark-transparent;
      padding-block: $space-unit * 10;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      & h2 {
        font-weight: $font-weight-bold;
        font-size: 3.5rem;
        margin: 0;

        & span {
          font-weight: $font-weight-light;
        }
      }

      & h3 {
        font-size: 1.5rem;
        margin: 0;
        font-weight: $font-weight-light;
      }

      & .bannerButton {
        padding: $space-unit * 3 $space-unit * 6;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover {
          text-decoration: none;
        }
      }
    }

    & .buttons {
      display: flex;

       & button {
        padding-block: $space-unit * 2;
        font-size: 1.1rem;
        text-align: center;
        flex-basis: 50%;
      }
    }
  }

  @media (max-width: 992px) {
    .featuredProductBox {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .carouselLayout {
      .promoBanner {

        & h2 {
          font-size: 2.5rem;
        }
  
        & h3 {
          font-size: 1.25rem;
        }
  
        & .bannerButton {
          padding: $space-unit * 2 $space-unit * 4;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .carouselLayout {
      .promoBanner {
        padding-block: $space-unit * 6 $space-unit * 8;

        & h2 {
          font-size: 2rem;
        }
  
        & h3 {
          font-size: 1rem;
        }
  
        & .bannerButton {
          top: 85%;
          font-size: 0.8rem;
          padding: $space-unit $space-unit * 2;
        }
      }
    }
  }

  @media (max-width: 400px) {
    .carouselLayout {
      .promoBanner {

        & h2 {
          font-size: 1.5rem;
        }
  
        & h3 {
          font-size: 0.9rem;
        }
  
        & .bannerButton {
          top: 80%;
          font-size: 0.7rem;
        }
      }
    }
  }
}



