@import "../../../styles/settings.scss";

.root {
  padding: $section-padding;

  .fade {
    animation: $change-page;
  }

  .galleryContent {
    background-color: $furniture-container-border;
    padding-block: $space-unit * 5;
    text-align: center;
    position: relative;
    margin-bottom: $space-unit;
    height: 400px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .buttonLayout {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: $space-unit;
      gap: $space-unit;
      display: flex;
      flex-flow: column nowrap;
    }

    .productData {
      background-color: $color-white;
      width: max-content;
      padding: $space-unit * 5 $space-unit * 7;
      position: absolute;
      box-shadow: $product-data-shadow;
      bottom: $space-unit * 2;
      right: $space-unit * 2;

      .promotionInfo {
        background-color: $color-dark-transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -80%;
        border-radius: 100%;
        aspect-ratio: 1 / 1;
        color: $color-white;
        padding: $space-unit * 4;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin: 0;

          &:first-of-type {
            font-weight: $font-weight-bold;
            font-size: 1.2rem;
          }

          &:nth-child(2) {
            text-decoration: line-through;
          }
        }
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        border: $product-decoration-width solid transparent;
        border-top: $product-decoration-width solid $text-color;
        border-left: $product-decoration-width solid $text-color;
      }

      &::before {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        border: $product-decoration-width solid transparent;
        border-bottom: $product-decoration-width solid $text-color;
        border-right: $product-decoration-width solid $text-color;
      }

      h5 {
        font-size: 1rem;
      }

      .stars {
        a {
          text-decoration: none;
          color: $stars-color
        }
      }
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .galleryNav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    border: 1px solid $furniture-container-border;

    button {
      padding: $space-unit * 2;
      flex-grow: 1;
      position: relative;
      text-decoration: none;
      font-weight: $font-weight-bolder;
      color: $text-color;
      text-transform: uppercase;
      border: 0;

      &:focus {
        outline: none;
      }

      &:hover, &.active {
        background-color: $furniture-container-border;
        color: $primary;
      }

      &.active::after, &:hover::after {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        border: 2px solid $primary;
        z-index: 2;
      }

      &:not(:first-of-type) {
        border-left: 1px solid $furniture-container-border;
      }

      &:last-of-type {
        border-left: 1px solid $furniture-container-border;
      }
    }
  }

  .promoSection {
    background-color: $gallery-background-color;
    display: flex;
    position: relative;

    .promoSectionContent {
      display: flex;
      flex-flow: column nowrap;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50px, 75px);
      height: max-content;
      gap: $space-unit;
      z-index: 2;

      h2 {
        margin: 0;
        font-weight: $font-weight-bolder;
        font-size: 2.25rem;
        color: $secondary;

        &:last-of-type {
          color: $primary;
        }

        span {
          color: $text-color;
          font-size: 1rem;
          font-weight: $font-weight-bolder;
          text-transform: uppercase;
          margin: 0
        }
      }

      .button {
        color: white;
        margin-top: $space-unit * 2;
        background-color: $secondary;
        text-transform: uppercase;
        padding: $space-unit * 2 $space-unit * 4;
        font-weight: $font-weight-bolder;
        align-self: flex-start;
      }
    }

    .staticImageBox {
      position: relative;
      padding: $space-unit * 5 $space-unit * 5 0 $space-unit * 5;
      margin-top: auto;

    }
  }

  .content {
    text-align: center;
  }

  @media (max-width: 768px) {
    .promoSection {
      display: none;
    }
  }

  @media (min-width:768px ) and (max-width: 992px) {
    .promoSection {
      .promoSectionContent {
        height: 100%;
        transform: none;
        padding: $space-unit $space-unit * 3 $space-unit * 3;
        gap: 0;


        h2 {
          font-size: 1.7rem;
        }

        .button {
          margin-top: auto;
        }
      }

      .staticImageBox {
        position: relative;
        padding: 0;
        margin-top: 0;

          .image {
            object-fit: cover;
          }
      }
    }
  }

  @media (max-width: 475px) {
    .galleryContent {
      .productData {
        padding: $space-unit * 3 $space-unit * 5;

        .promotionInfo {
          top: -70%;
          padding: $space-unit * 2;

          p {
            &:first-of-type {
              font-size: 0.9rem;
            }

            font-size: 0.75rem;

          }
        }
      }
    }

    .galleryNav {
      font-size: 0.75rem;
    }
  }
}
